.quote {
    display:  flex;
    margin-bottom: 20px;
    border-bottom: 2px #ddd solid;
    padding-bottom: 20px;
    align-items: center;
}

.quote:last-child {
    border: none;
}

.avatar {
    display:  block;
    width:  200px;
    height:  200px;
    object-fit: contain;
    flex-shrink: 0;
}

.author {
    display:  flex;
    font-weight:  900;
    font-size:  40px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start
}

.text {
    display:  block;
    font-size: 25px;
}

.like {
    background: white;
    font-weight: bold;
    font-size: 17px;
    opacity: 0.3;
    border: 0;
    transition: all 0.3s ease;
    height: 33px;
    outline: none;
    line-height: 1;
}

.like:hover {
    cursor: pointer;
    opacity: 0.7;
}

.like.active {
    color: black;
    background: white;
    opacity: 1;
}