.quote {
    display:  flex;
    margin-bottom: 20px;
    border-bottom: 2px #ddd solid;
    padding-bottom: 20px;
    align-items: center;
}

.quote:last-child {
    border: none;
}

.avatar {
    display:  block;
    width:  200px;
    height:  200px;
    object-fit: contain;
    flex-shrink: 0;
}

.author {
    display:  block;
    font-weight:  900;
    font-size:  40px;
    margin-bottom: 20px;
}

.text {
    display:  block;
    font-size: 25px;
}